.wrapper {
  width: fit-content;
}
.slider-container {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  button {
    font-size: 5rem;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
  }
  .disabled {
    path {
      fill: lightgray;
    }
  }
  .slider {
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }
}
.title {
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-size: 2.5rem;
}

.fade {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
