* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex-grow: 1;
  padding-top: 6rem;
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
}
header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  z-index: 10;
  border-bottom: 1px solid lightgray;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  z-index: 1000;
  backdrop-filter: blur(8px);
}
#modal {
  width: fit-content;
  margin: auto;
}
.overlay-hidden {
  display: none;
}

.block-scroll {
  overflow: hidden;
}

footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  margin-top: 50px;
  color: #737373;
  .logo {
    margin: 1rem 2rem;
  }
  .col-1 {
    width: 60%;
    padding: 0 15px;
  }
  .col-2 {
    width: 20%;
    padding: 0 15px;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  hr {
    border-top-color: #bbb;
    opacity: 0.5;
    &.small {
      margin: 20px 0;
    }
  }
  h6 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  a {
    color: #737373;
    &:hover {
      color: #3366cc;
      text-decoration: none;
    }
  }
  .footer-links {
    padding-left: 0;
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}
.loader {
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
