.wrapper {
  margin: auto;
  cursor: pointer;
  padding: 20px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  max-width: 1000px;
  list-style: none;
  text-overflow: ellipsis;
  &:hover {
    background-color: #f8f9fa;
    transition: 0.3s;
  }
  .left {
    width: 85%;
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
  }
  .title {
    font-weight: bold;
  }
  .contents {
    font-size: 0.8rem;
    color: #616568;
    margin: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3; // 원하는 라인수
    -webkit-box-orient: vertical;
  }
  .info {
    font-size: 0.8rem;
    color: #858a8d;
  }
  .circle {
    border: 1px solid #dee2e6;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .circle-text {
    font-size: 0.65rem;
  }
}
