.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 5px 0;
  a {
    text-decoration-line: none;
    color: black;
  }
  ul {
    display: flex;
  }
  li {
    list-style: none;
    margin: auto 2rem;
  }
  .logo {
    font-weight: bolder;
    font-size: 3rem;
    margin: auto 2rem;
    cursor: pointer;
  }
  button {
    margin: 0 2rem;
    border: 1px solid;
    background-color: transparent;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
}

.progress-container {
  width: 100%;
  height: 8px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #002c5f;
  transition: width 0.5s ease-out;
}
