.form-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 24px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  font: normal 16px/26px system-ui, Roboto, Arial, sans-serif;
  background: #fefefe;
  color: #2a3744;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  user-select: none;
}
.container {
  overflow: hidden;
}

.container__title {
  font-weight: 700;
  font-size: 16px;
  background-color: #fff;
  z-index: 2;
  position: relative;
  color: #8fa6b3;
  cursor: pointer;
  &:hover {
    font-size: 20px;
  }
  transition: font-size 0.3s;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 16px;
  transform: translateY(-100%);
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.close {
  max-height: 500px;
  padding: 14px 0;
  transform: translateY(0);
}

.filter-button {
  transition: background-color 500ms, color 500ms;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  display: inline-block;
  padding: 1px 8px;
  color: #717171;
  border: 1px solid #9b9b9b;
  border-radius: 25px;
  font-size: 14px;
  white-space: nowrap;
}

.filter-button:hover {
  background-color: #f3f3f3;
  color: #3a3a3a;
}

.filter-button.is-active {
  background-color: #0085b6;
  border-color: #0085b6;
  color: #fff;
}
